{% extends 'base.html' %}

{% block title %}My finance{% endblock %}

{% block header %}История совершенных операций:{% endblock %}

{% block content %}

{% if wallet %}

<section>
    <input type="date"> {{ statement.date_from }} <input type="date"> {{ statement.date_to }}
    <input type="submit" value="OK">
</section>

<table class="table">
    <tbody>
        <tr>
            <th>Дата</th>
            <th>Сумма, руб.</th>
            <th>Вид операции</th>
            <th>Наименование</th>
        </tr>
        {% for item in wallet %}
        <tr>
            <td>
                {{ item.0|date:"d.m.Y" }}
            </td>
            <td align="center">
                {{ item.1 }}
            </td>
            <td>
                {{ item.2 }}
            </td>
            <td>
                {{ item.3 }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}

<p align="center"> По выбранному кошельку операций нет. </p>

{% endif %}

<div class="bottom-block">
    <h4><a class="get-started-btn" href="javascript:history.back()">Назад</a></h4>
</div>

{% endblock %}
